.marshalPfluger__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    margin: 1rem;
}

.marshalPfluger__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.marshalPfluger__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.marshalPfluger__features-container__feature-title div {
    width: 50px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
}

.marshalPfluger__features-container__feature-text {
    flex: 2;
    max-width: 800px;
    display: flex;
}

.marshalPfluger__features-container__feature-text ul {
    margin-top: 1rem;
    list-style-type: disc;
}

.marshalPfluger__features-container__feature-text li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
    .marshalPfluger__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .marshalPfluger__features-container__feature {
        margin: 1rem 0;
    }
}