.about-me-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .summary-section,
  .education-section,
  .experience-section,
  .skills-section {
    margin-top: 20px;
  }
  
  .summary-section h2,
  .education-section h2,
  .experience-section h2,
  .skills-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .summary-section p,
  .education-section p,
  .experience-section p,
  .skills-section p {
    margin-bottom: 10px;
  }
  
  .education-section ul,
  .education-section li {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .experience-section ul,
  .experience-section li {
    list-style-type: circle;
    margin-left: 20px;
  }